<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/" >Mijn kalenders</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/calenders" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">Kalenders <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/account" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}" *ngIf="token !== null">Mijn account</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" *ngIf="token !== null">
      <input class="form-control mr-sm-2" type="search" placeholder="Zoek een kalender" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Zoek</button>
    </form>
    <ul class="navbar-nav ml-auto" *ngIf="token === null">
      <li class="nav-item active">
        <a class="nav-link authBtn" (click)="openLoginModal()" >Login</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link authBtn" routerLink="/" >Register</a>
      </li>
    </ul>
  </div>
</nav>