<div class="container custom-container">
  <div class="taskbar">
    <h3 (click)="setMonth('prev')" class="navigateCalender">&lt; {{clanederService.monthNames[clanederService.getMonthIndex('prev', monthIndex)]}}</h3>
    <h2 class="title">{{month}}({{year}})</h2>
    <h3 (click)="setMonth('next')" class="navigateCalender">{{clanederService.monthNames[clanederService.getMonthIndex('next', monthIndex)]}} &gt;</h3>
  </div>
  <div class="calender">
    <div class="row">
      <div class="custom-col weekDay" *ngFor="let day of clanederService.weekDays">
        {{day}}
      </div>
    </div>
    <div class="row">
      <div class="custom-col" *ngFor="let day of daysCurrentMonth">
        <app-calender-day [date]="clanederService.getMomentDate(day.date, day.month, day.year)" [event]="getEvent(day)" [isCurrentMonth]="day.isCurrentMonth" ></app-calender-day>
      </div>
    </div>
  </div>
</div>